
<div class="Jumbtron">
<h1 class="display-4 text-center"> Shopping Your Way! </h1>
<hr>
<div class="row">
  <div class="col-md-5">
  <app-item-detail></app-item-detail>
  <hr/>
    <p class="text-center font-weight-bold text-uppercase ">Currently Supported Stores...</p>
  <ul class="list-group">
 <li class="list-group-item">Zara</li>
 <li class="list-group-item">HM</li>
 <li class="list-group-item">Saksfifthavenue</li>
 <li class="list-group-item">Gap</li>
 <li class="list-group-item">Banan Republic</li>
</ul>
 </div>
<div class="col-md-7">
  <app-item-detail-list></app-item-detail-list>
  </div>
</div>
</div>
